*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

#name-input{
    font-size: 40px;
}

#history-list{
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    border: 3px solid black;
}

#history-list li{
    padding: 60px 0;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #888;
}

#history-list li:nth-child(odd){
    background-color: #444;
}

#gender{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gender h2{
    font-size: 50px ;
}

#gender h3{
    font-size: 40px ;
}