#name {
    color: red;
    background-color: black;
    text-align: left;
    padding: 50px;
    font-size: 50px;
    border-radius: 40px;
    margin: 40px 500px;

}

.Paragraph{
    color: rgb(255, 255, 255);
    background-color: rgb(78, 193, 255);
    text-align: center;
    border-left: 3px solid blue;
    padding: 30px;
    margin-top: 50px ;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-right:3px  solid blue;
    font-size: 23px;
}